body {
    font-size: 5.3vw;
    font-family: Arial, sans-serif;
    margin:0;
}


.twitter-typeahead {
    width:100%;
}
.tt-input,
.tt-hint {
    width: 94%;
    height: 5.5vw;
    padding: 2vw 2.5vw;
    font-size: 90%;
    line-height: 5.5vw;
    border: 2px solid #ccc;
    border-radius: 1.5vw;
    outline: none;
}
.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999;
}
.tt-menu {
    width: 100%;
    margin-top: 1.5vw;
    padding: 1.5vw 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.5vw;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    z-index: 9999;
}
.tt-suggestion {
    padding: 1vw 3.5vw;
    font-size: 70%;
    line-height: 4vw;
    z-index: 9999;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #4E2A84;
}
.tt-suggestion:hover {
    cursor:pointer;
    color: #fff;
    background-color: #988FBF;
}
.tt-suggestion p {
    margin: 0;
}